html{
    margin: 0px;
    height: 100%;
}

body{
    background: linear-gradient(15deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%) 100%);
    margin: 0px;
    min-height: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    color: hsl(240, 6%, 50%);
}
h1{
    font-size: 40px;
    color: hsl(237, 12%, 33%);
    margin: 0 0 40px 0;
    padding: 0;
}
h2{
    font-weight: 400;
    color: hsl(237, 12%, 33%);
    margin: 0;
    padding: 0;
    font-size: 12px;
    cursor: pointer;
}

/* JS JS JS JS*/
/* .faq-topic:hover > h2{
    color: hsl(14, 88%, 65%);
} */
h2:hover{
    color: hsl(14, 88%, 65%);
}


.active-h2{
    font-weight: 700;
    color: hsl(237, 12%, 33%)
}
p{
    font-size: 12px;
    line-height: 18px;
}
hr{
    opacity: .4;
}

.container {
    margin: auto;
    width: 920px;
    height: 500px;
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
}

.wrapper{
    margin-top: 72px;
    display: flex;
    justify-content: space-evenly;
}

.div{
    margin: auto;
    display: flex;
    width: 1000px;
}
.wrapper-left{
    width: 40%;
}
.desktop-box{
    position: fixed;
    top:415px;
    left:280px;
}
.desktop-woman{
    position: relative;
    top:-950px;
    left:-120px;
}
.desktop-bg{
    position: relative;
    top:-375px;
    left:-620px;
}
.wrapper-right{
    width: 350px;
    margin-right: 50px;
}

.faq-topic{
margin: 16px 0;
}

.faq-topic-top{
    display: flex;
    justify-content: space-between;
}

.topic-arrow{
    width: auto;
    height: 8px;
    margin-right: 15px;
    cursor: pointer;
}

/* JS JS JS JS*/
.arrow-up{
    transform: rotate(180deg);
}
